$primary-color: #007bff;
$secondary-color: #6c757d;
$info-color: #17a2b8;

.container {
  font-family: "Arial", sans-serif;
  margin: 20px;
  padding: 20px;
  background-color: #f8f9fa;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    h4 {
      margin: 0;
    }

    .btn-primary {
      background-color: $primary-color;
      color: #fff;
      border: none;
      padding: 8px 16px;
      cursor: pointer;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;

    th,
    td {
      padding: 12px;
      text-align: left;
      border-bottom: 1px solid #dee2e6;
    }

    th {
      background-color: $secondary-color;
      color: #fff;
    }

    tbody {
      tr {
        &:hover {
          background-color: #f8f9fa;
        }

        td {
          img {
            max-width: 50px;
            max-height: 50px;
          }

          .btn-info,
          .btn-secondary {
            margin-top: 5px;
          }

          .btn-info {
            background-color: $info-color;
            color: #fff;
          }

          .btn-secondary {
            background-color: $secondary-color;
            color: #fff;
          }
        }
      }
    }
  }

  h5 {
    margin-top: 20px;
    color: $secondary-color;
  }
}
