$primary-color: #007bff;
$secondary-color: #6c757d;
$info-color: #17a2b8;

.container {
  margin: 1.25rem;
  padding: 1.25rem;
  background-color: #fff;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.25rem;

    h4 {
      margin: 0;
    }

    .btn-primary {
      background-color: $primary-color;
    }
  }

  .btn-primary {
    background-color: maroon;
    color: #fff;
    border: none;
    margin-top: 1rem;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1.25rem;

    th,
    td {
      padding: 0.75rem;
      text-align: left;
      border-bottom: 1px solid #dee2e6;
    }

    th {
      background-color: $secondary-color;
      color: #fff;
    }

    tbody {
      tr {
        &:hover {
          background-color: #f8f9fa;
        }

        td {
          img {
            max-width: 3.125rem;
            max-height: 3.125rem;
          }

          .btn-info,
          .btn-secondary {
            margin-top: 0.3125rem;
            margin-right: 0.5rem;
            padding: 0.2rem;
            border: none;
            border-radius: 0.2rem;
            color: #fff;
          }

          .btn-info {
            background-color: $info-color;
          }

          .btn-secondary {
            background-color: $secondary-color;
          }
        }
      }
    }
  }

  h5 {
    margin-top: 1.25rem;
    color: $secondary-color;
  }
}
